<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Project 3</title>
    </head>
    <body>
        <div layout:fragment="content">
            <p>Index page of project three</p>
            <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
            <div th:if="${#authentication.getPrincipal().getRole().toString()} eq 'STUDENT'">
                <a href="./course_preferences/edit" class="btn btn-default">Edit your course preferences</a>
                <a href="./course_preferences" class="btn btn-default">View your course preferences</a>
            </div>
            <div th:if="${#authentication.getPrincipal().getRole().toString()} eq 'ADMINISTRATOR'">
                <a href="./optimizations/new" class="btn btn-default">Edit an optimization</a>
                <a href="./optimizations" class="btn btn-default">View the results</a>
            </div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out" class="btn btn-default"/>
            </form>
        </div>
    </body>
</html>
