<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>View the latest optimization</title>
    <script th:src="@{/js/optimizations/index.js}"></script>
</head>
<body>
<div layout:fragment="content" class="container">
    <h1>View the latest optimization</h1>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Capacity</th>
                    <th>Demand</th>
                    <th>Professor</th>
                    <th>TAs</th>
                    <th>Students</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="printOffering:${currentOfferings}" th:attr="data-offering-id=${printOffering.getOffering().getId()}">
                    <td th:text="${'ID# ' + printOffering.getOffering().getId() + '  CS - ' + printOffering.getOffering().getCourse().getCourse_num() + ' ' + printOffering.getOffering().getCourse().getCourse_name()}"></td>
                    <td th:text="${printOffering.getCapacity()}"></td>
                    <td th:text="${printOffering.getDemand().getDemandMap().get('total')}"></td>
                    <td>
                        <span th:each="professor:${printOffering.getProfessors()}">
                            <span th:text="${professor.getFirst_name() + ' ' + professor.getLast_name() + ', '}"></span>
                        </span>
                    </td>
                    <td>
                        <span th:each="ta:${printOffering.getTas()}">
                            <span th:text="${ta.getFirst_name() + ' ' + ta.getLast_name() + ', '}"></span>
                        </span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#studentList" th:attr="data-remote=${'/offering/' + printOffering.getOffering().getId() + '/students'}">View student list</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--Hidden modal by default -->
    <div class="modal fade" id="studentList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
</div>
</body>
</html>
