<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Project 3</title>
    <link rel="stylesheet" th:href="@{/css/optimizations.css}" href="../../css/optimizations.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-switch.min.css}" href="../../css/bootstrap-switch.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.3.0/Sortable.min.js"></script>
    <script th:src="@{/js/bootstrap-switch.min.js}"></script>
    <script th:src="@{/js/optimizations/new.js}"></script>
</head>
    <body>
        <div layout:fragment="content">
            <h1>Create a new optimization</h1>
            <div class="row">
                <div class="col-sm-6">
                    <label>Include GPA</label>
                    <input type="checkbox" name="include-gpa" checked>
                    <label>Include Seniority</label>
                    <input type="checkbox" name="include-seniority" checked>
                    <label>TA Optimization Coefficient</label>
                    <input id="slider1" type="range" min="0" max="20" step="1"/>
                </div>
                <div class="col-sm-6">
                    <label>Minimum Student-TA Ratio</label>
                    <input type="number" min="0" max="999">
                    <label>Maximum Student-TA Ratio</label>
                    <input type="number" min="0" max="999">
                    <button type="button" class="btn btn-success" data-submit>Submit</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">TA's Available</h3>
                        </div>
                        <div class="panel-body">
                            <ul id="tas" class="list-group">
                                <li th:each="ta:${tas}" class="list-group-item" th:attr="data-ta-id=${ta.getId()}">
                                    <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
                                    <span th:text="${ta.getFirst_name() + ' ' + ta.getLast_name()}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Professors Available</h3>
                        </div>
                        <div class="panel-body">
                            <ul id="professors" class="list-group">
                                <li th:each="professor:${professors}" class="list-group-item" th:attr="data-professor-id=${professor.getId()}">
                                    <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
                                    <span th:text="${professor.getFirst_name() + ' ' + professor.getLast_name()}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default offerings">
                        <div class="panel-heading">
                            <h3 class="panel-title">Offerings for the semester</h3>
                        </div>
                        <div class="panel-body">
                            <div class="panel panel-default" th:each="offering:${offerings}" th:attr="data-offering-id=${offering.getId()}">
                                <div class="panel-heading">
                                    <h4 th:text="${'CS' + offering.getCourse().getCourse_num() + ' - ' + offering.getCourse().getCourse_name()}"></h4>
                                    Course capacity: <a href="#" class="offering-capacity" data-offering-capacity data-capacity th:text="${offering.getCapacity()}"></a>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">Add TA's</h5>
                                            </div>
                                            <div class="panel-body">
                                                <ul class="ta-list list-group"></ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">Add Professors</h5>
                                            </div>
                                            <div class="panel-body">
                                                <ul class="professor-list list-group"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
